<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
</body>
</html>
  <body
    lang="en"
    link="#DD0000"
    vlink="#DD0000"
    class="emailify"
    style="
      mso-line-height-rule: exactly;
      word-spacing: normal;
      background-color: #ffffff;
    ">
    <div class="bg" style="background-color: #ffffff">
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 24px 16px 24px 16px;
                  text-align: left;
                ">
                <div
                  class="xc568 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="i m"
                          style="
                            font-size: 0;
                            padding: 0;
                            padding-bottom: 16px;
                            word-break: break-word;
                          ">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="
                              border-collapse: collapse;
                              border-spacing: 0;
                            ">
                            <tbody>
                              <tr>
                                <td style="width: 74px">
                                 <a
                                  href="https://www.techify.es/"
                                  target="_blank">
                                  <img
                                    alt=""
                                    height="auto"
                                    src="https://techify-bucket.s3.eu-west-3.amazonaws.com/techify-public/techify/techify-completo.png"
                                    style="
                                      border: 0;
                                      display: block;
                                      outline: none;
                                      text-decoration: none;
                                      height: auto;
                                      width: 100%;
                                      font-size: 13px;
                                    "
                                    title=""
                                    width="74" />
                                </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="v s-8"
                          style="
                            font-size: 0;
                            padding-bottom: 0;
                            word-break: break-word;
                          ">
                          <div class="il">
                            <a
                              class="l m"
                              href="#insertUrlLink"
                              target="_blank"
                              style="
                                display: inline-block;
                                color: #000000;
                                font-family: Gilroy, Arial, sans-serif;
                                font-size: 13px;
                                font-weight: normal;
                                line-height: 0;
                                text-decoration: none;
                                text-transform: none;
                                padding: 0;
                                padding-top: 0;
                                padding-left: 0;
                                padding-right: 8px;
                                padding-bottom: 0;
                              ">
                              <span
                                style="
                                  font-size: 14px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 700;
                                  color: #000000;
                                  line-height: 114%;
                                  text-decoration: underline;
                                "
                                >Lo nuevo</span
                              ></a
                            >
                            <a
                              class="l m"
                              href="https://www.techify.es/search/result?search=Basics"
                              target="_blank"
                              style="
                                display: inline-block;
                                color: #000000;
                                font-family: Gilroy, Arial, sans-serif;
                                font-size: 13px;
                                font-weight: normal;
                                line-height: 0;
                                text-decoration: none;
                                text-transform: none;
                                padding: 0;
                                padding-top: 0;
                                padding-left: 0;
                                padding-right: 8px;
                                padding-bottom: 0;
                              ">
                              <span
                                style="
                                  font-size: 14px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 700;
                                  color: #000000;
                                  line-height: 114%;
                                  text-decoration: underline;
                                ">
                                Basics</span
                              ></a
                            >
                            <a
                              class="l"
                              href="#insertUrlLink"
                              target="_blank"
                              style="
                                display: inline-block;
                                color: #000000;
                                font-family: Gilroy, Arial, sans-serif;
                                font-size: 13px;
                                font-weight: normal;
                                line-height: 0;
                                text-decoration: none;
                                text-transform: none;
                                padding: 0;
                                padding-top: 0;
                                padding-left: 0;
                                padding-right: 0;
                                padding-bottom: 0;
                              ">
                              <span
                                style="
                                  font-size: 14px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 700;
                                  color: #000000;
                                  line-height: 114%;
                                  text-decoration: underline;
                                "
                                >Vende</span
                              ></a
                            >
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="" style="margin: 0px auto; max-width: 600px">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  direction: ltr;
                  font-size: 0;
                  padding: 0;
                  text-align: center;
                ">
                <div
                  class="pc100 ogf"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    width="100%">
                    <tbody>
                      <tr>
                        <td style="vertical-align: top; padding: 0">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            width="100%">
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  class="i fw-1"
                                  style="
                                    font-size: 0;
                                    padding: 0;
                                    word-break: break-word;
                                  ">
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    style="
                                      border-collapse: collapse;
                                      border-spacing: 0;
                                    "
                                    class="fwm">
                                    <tbody>
                                      <tr>
                                        <td style="width: 486px" class="fwm">
                                          <img
                                            alt=""
                                            height="auto"
                                            src="https://techify-bucket.s3.eu-west-3.amazonaws.com/techify-public/welcome/welcom-1.png"
                                            style="
                                              border: 0;
                                              display: block;
                                              outline: none;
                                              text-decoration: none;
                                              height: auto;
                                              width: 100%;
                                              font-size: 13px;
                                            "
                                            title=""
                                            width="486" />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 24px 24px 24px 24px;
                  text-align: justify;
                ">
                <div
                  class="xc8 ogf"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    width="100%">
                    <tbody>
                      <tr>
                        <td style="vertical-align: top; padding: 0">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            width="100%">
                            <tbody></tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="left"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: left">
                            <p style="margin: 0; text-align: left">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 113%;
                                "
                                >Te queremos dar la bienvenida a la comunidad
                                techie con m치s ventajas:</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="xc8 ogf"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    width="100%">
                    <tbody>
                      <tr>
                        <td style="vertical-align: top; padding: 0">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            width="100%">
                            <tbody></tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 8px 32px 8px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="left"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: left">
                            <p style="margin: 0; text-align: left">
                              <span
                                style="
                                  font-size: 25px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 700;
                                  color: #000000;
                                  line-height: 152%;
                                "
                                >Compras protegidas 游눮</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 8px 32px 8px 32px;
                  text-align: left;
                ">

                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="left"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: left">
                            <p style="margin: 0; text-align: left">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 113%;
                                "
                                >Dependiendo del tipo de techie, podr치s
                                encontrar:</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 8px 32px 0px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="left"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: left">
                            <ul
                              class="glist"
                              style="
                                font-size: 16px;
                                color: #000000;
                                padding: 0;
                                font-weight: 400;
                                margin: 0 0 0 16px;
                              ">
                              <li style="margin: 0">
                                <span
                                  style="
                                    font-size: 16px;
                                    font-family: Gilroy, Arial, sans-serif;
                                    font-weight: 400;
                                    color: #000000;
                                    line-height: 150%;
                                  "
                                  ><p style="margin: 0; text-align: left">
                                    <span
                                      style="
                                        font-size: 16px;
                                        font-family: Gilroy, Arial, sans-serif;
                                        font-weight: 400;
                                        color: #000000;
                                        line-height: 150%;
                                      "
                                      >Comprobaciones.</span
                                    >
                                  </p></span
                                >
                              </li>
                              <li style="margin: 0">
                                <span
                                  style="
                                    font-size: 16px;
                                    font-family: Gilroy, Arial, sans-serif;
                                    font-weight: 400;
                                    color: #000000;
                                    line-height: 150%;
                                  "
                                  >Protecci칩n al comprador.</span
                                >
                              </li>
                              <li style="margin: 0">
                                <span
                                  style="
                                    font-size: 16px;
                                    font-family: Gilroy, Arial, sans-serif;
                                    font-weight: 400;
                                    color: #000000;
                                    line-height: 150%;
                                  "
                                  >Garant칤a de hasta 3 a침os.</span
                                >
                              </li>
                              <li style="margin: 0">
                                <span
                                  style="
                                    font-size: 16px;
                                    font-family: Gilroy, Arial, sans-serif;
                                    font-weight: 400;
                                    color: #000000;
                                    line-height: 150%;
                                  "
                                  >30 d칤as de prueba.</span
                                >
                                <p></p>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 16px 32px 16px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="left"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: left">
                            <p style="margin: 0; text-align: left">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 113%;
                                "
                                >Nos aseguramos de que recibas exactamente lo
                                que pediste y si no, te devolvemos tu
                                dinero.</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 16px 32px 8px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="left"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: left">
                            <p style="margin: 0; text-align: left">
                              <span
                                style="
                                  font-size: 25px;
                                  font-family: Inter, Arial, sans-serif;
                                  font-weight: 700;
                                  color: #000000;
                                  line-height: 152%;
                                "
                                >Ventas f치ciles 游냗</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 8px 32px 8px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="left"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: left">
                            <p style="margin: 0; text-align: left">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 113%;
                                "
                                >Tu s칩lo sube tus techies y gana dinero:</span
                              >
                            </p>
                            <p style="margin: 1px 0 0 0">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 113%;
                                "
                                >&nbsp;
                                <ul
                                  class="glist"
                                  style="
                                    font-size: 16px;
                                    color: #000000;
                                    padding: 0;
                                    font-weight: 400;
                                    margin: 1px 0 0 16px;
                                  ">
                                  <li style="margin: 1px 0 0 0">
                                    <span
                                      style="
                                        font-size: 16px;
                                        font-family: Gilroy, Arial, sans-serif;
                                        font-weight: 400;
                                        color: #000000;
                                        line-height: 113%;
                                      "
                                      >Te buscamos un comprador.</span
                                    >
                                  </li>
                                  <li style="margin: 1px 0 0 0">
                                    <span
                                      style="
                                        font-size: 16px;
                                        font-family: Gilroy, Arial, sans-serif;
                                        font-weight: 400;
                                        color: #000000;
                                        line-height: 113%;
                                      "
                                      >Le enviamos tu techie.</span
                                    >
                                  </li>
                                  <li style="margin: 1px 0 0 0">
                                    <span
                                      style="
                                        font-size: 16px;
                                        font-family: Gilroy, Arial, sans-serif;
                                        font-weight: 400;
                                        color: #000000;
                                        line-height: 113%;
                                      "
                                      >Gestionamos el seguimiento de tu
                                      compra.</span
                                    >
                                  </li>
                                </ul></span
                              >
                            </p>
                            <p style="margin: 1px 0 0 0">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 113%;
                                "
                                >&nbsp;</span
                              >
                            </p>
                            <p style="margin: 1px 0 0 0">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 113%;
                                "
                                >No pagar치s env칤o ni comisi칩n ni nada.</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 24px 24px 24px 24px;
                  text-align: left;
                ">
                <div
                  class="xc552 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: center">
                            <p style="margin: 0; text-align: center">
                              <span
                                style="
                                  font-size: 16px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 700;
                                  color: #494949;
                                  line-height: 113%;
                                "
                                >쯃istx para comprar y vender techies?</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fffffe;
          background-color: #fffffe;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fffffe; background-color: #fffffe; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 24px 0px 40px 0px;
                  text-align: left;
                ">
                <div
                  class="xc600 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          style="
                            border: none;
                            vertical-align: middle;
                            padding: 0px 16px 0px 16px;
                          ">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            width="100%">
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  vertical-align="middle"
                                  class="b fw-1"
                                  style="
                                    font-size: 0;
                                    padding: 0;
                                    word-break: break-word;
                                  ">
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    style="
                                      border-collapse: separate;
                                      width: 170px;
                                      line-height: 100%;
                                    ">
                                    <tbody>
                                      <tr>
                                        <td
                                          align="center"
                                          bgcolor="#3941ff"
                                          role="none"
                                          style="
                                            border: none;
                                            border-radius: 60px 60px 60px 60px;
                                            cursor: auto;
                                            mso-padding-alt: 12px 0px 12px 0px;
                                            background: #3941ff;
                                          "
                                          valign="middle">
                                          <a
                                            href="https://www.techify.es/"
                                            style="
                                              display: inline-block;
                                              width: 170px;
                                              background: #3941ff;
                                              color: #ffffff;
                                              font-family: Gilroy, Arial,
                                                sans-serif;
                                              font-size: 13px;
                                              font-weight: normal;
                                              line-height: 100%;
                                              margin: 0;
                                              text-decoration: none;
                                              text-transform: none;
                                              padding: 12px 0px 12px 0px;
                                              mso-padding-alt: 0;
                                              border-radius: 60px 60px 60px 60px;
                                            "
                                            target="_blank">
                                            <span
                                              style="
                                                font-size: 14px;
                                                font-family: Gilroy, Arial,
                                                  sans-serif;
                                                font-weight: 700;
                                                color: #ffffff;
                                                line-height: 114%;
                                              "
                                              >Visitar Techify</span
                                            ></a
                                          >
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #9efeb9;
          background-color: #9efeb9;
          margin: 0px auto;
          border-radius: 30px 30px 30px 30px;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="
            background: #9efeb9;
            background-color: #9efeb9;
            width: 100%;
            border-radius: 30px 30px 30px 30px;
          ">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 24px 32px 24px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: center">
                            <p style="margin: 0; text-align: center">
                              <span
                                style="
                                  font-size: 14px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #000000;
                                  line-height: 114%;
                                "
                                >游댌 La primera plataforma espa침ola en hacer
                                comprobaciones para protegerte</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #fafffb;
          background-color: #fafffb;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #fafffb; background-color: #fafffb; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 16px 32px 0px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: center"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #f3f3f3;
          background-color: #f3f3f3;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #f3f3f3; background-color: #f3f3f3; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 16px 16px 16px 16px;
                  text-align: left;
                ">
                <div
                  class="xc568 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="i m"
                          style="
                            font-size: 0;
                            padding: 0;
                            padding-bottom: 16px;
                            word-break: break-word;
                          ">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="
                              border-collapse: collapse;
                              border-spacing: 0;
                            ">
                            <tbody>
                              <tr>
                                <td style="width: 74px">
                                 <a
                                  href="https://www.techify.es/"
                                  target="_blank">
                                  <img
                                    alt=""
                                    height="auto"
                                    src="https://techify-bucket.s3.eu-west-3.amazonaws.com/techify-public/techify/techify-icono.png"
                                    style="
                                      border: 0;
                                      display: block;
                                      outline: none;
                                      text-decoration: none;
                                      height: auto;
                                      width: 100%;
                                      font-size: 13px;
                                    "
                                    title=""
                                    width="74" />
                                </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="x m"
                          style="
                            font-size: 0;
                            padding-bottom: 16px;
                            word-break: break-word;
                          ">
                          <div style="text-align: center">
                            <a
                              class="l m"
                              href="https://www.instagram.com/wearetechify"
                              target="_blank"
                              style="
                                display: inline-block;
                                color: #000000;
                                font-family: Gilroy, Arial, sans-serif;
                                font-size: 13px;
                                font-weight: normal;
                                line-height: 0;
                                text-decoration: none;
                                text-transform: none;
                                padding: 0;
                                padding-top: 0;
                                padding-left: 0;
                                padding-right: 8px;
                                padding-bottom: 0;
                              ">
                            <p style="margin: 0; text-align: center">
                              <span
                                style="
                                  font-size: 14px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 700;
                                  color: #000000;
                                  line-height: 114%;
                                  text-decoration: underline;
                                "
                                >Seamos amigos</span>
                            </p>
                          </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="o"
                          style="
                            font-size: 0;
                            padding: 0;
                            padding-bottom: 0;
                            word-break: break-word;
                          ">
                          <table
                            align="center"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="float: none; display: inline-table">
                            <tbody>
                              <tr class="e m">
                                <td
                                  style="
                                    padding: 0 16px 0 0;
                                    vertical-align: middle;
                                  ">
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    style="width: 20px">
                                    <tbody>
                                      <tr>
                                        <td
                                          style="
                                            font-size: 0;
                                            height: 20px;
                                            vertical-align: middle;
                                            width: 20px;
                                          ">
                                          <a
                                            href="https://www.instagram.com/wearetechify"
                                            target="_blank">
                                            <img
                                              alt="Instagram"
                                              title=""
                                              height="20"
                                              src="https://techify-bucket.s3.eu-west-3.amazonaws.com/techify-public/red-social/instagram.png"
                                              style="display: block"
                                              width="20"
                                          /></a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table
                            align="center"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="float: none; display: inline-table">
                            <tbody>
                              <tr class="e m">
                                <td
                                  style="
                                    padding: 0 16px 0 0;
                                    vertical-align: middle;
                                  ">
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    style="width: 20px">
                                    <tbody>
                                      <tr>
                                        <td
                                          style="
                                            font-size: 0;
                                            height: 20px;
                                            vertical-align: middle;
                                            width: 20px;
                                          ">
                                          <a
                                            href="https://www.facebook.com/wearetechify"
                                            target="_blank">
                                            <img
                                              alt="Facebook"
                                              title=""
                                              height="20"
                                              src="https://techify-bucket.s3.eu-west-3.amazonaws.com/techify-public/red-social/facebook.png"
                                              style="display: block"
                                              width="20"
                                          /></a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table
                            align="center"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="float: none; display: inline-table">
                            <tbody>
                              <tr class="e">
                                <td style="padding: 0; vertical-align: middle">
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    style="width: 20px">
                                    <tbody>
                                      <tr>
                                        <td
                                          style="
                                            font-size: 0;
                                            height: 20px;
                                            vertical-align: middle;
                                            width: 20px;
                                          ">
                                          <a
                                            href="https://www.youtube.com/channel/UC3fBcmiW6kCrzVYKRSI50Dg"
                                            target="_blank">
                                            <img
                                              alt="YouTube"
                                              title=""
                                              height="20"
                                              src="https://techify-bucket.s3.eu-west-3.amazonaws.com/techify-public/red-social/youtube.png"
                                              style="display: block"
                                              width="20"
                                          /></a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #f3f3f3;
          background-color: #f3f3f3;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #f3f3f3; background-color: #f3f3f3; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 16px 16px 16px 16px;
                  text-align: left;
                ">
                <div
                  class="xc568 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          vertical-align="middle"
                          class="b fw-1 m"
                          style="
                            font-size: 0;
                            padding: 0;
                            padding-bottom: 8px;
                            word-break: break-word;
                          ">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="
                              border-collapse: separate;
                              width: 100%;
                              line-height: 100%;
                            ">
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  bgcolor="transparent"
                                  role="none"
                                  style="
                                    border: none;
                                    cursor: auto;
                                    mso-padding-alt: 4px 0px 4px 0px;
                                    background: transparent;
                                  "
                                  valign="middle">
                                  <a
                                    href="https://www.techify.es"
                                    style="
                                      display: inline-block;
                                      background: transparent;
                                      color: #ffffff;
                                      font-family: Gilroy, Arial, sans-serif;
                                      font-size: 13px;
                                      font-weight: normal;
                                      line-height: 100%;
                                      margin: 0;
                                      text-decoration: none;
                                      text-transform: none;
                                      padding: 4px 0px 4px 0px;
                                      mso-padding-alt: 0;
                                    "
                                    target="_blank">
                                    <span
                                      style="
                                        font-size: 14px;
                                        font-family: Gilroy, Arial, sans-serif;
                                        font-weight: 700;
                                        color: #000000;
                                        line-height: 114%;
                                        text-decoration: underline;
                                      "
                                      >Iniciar sesi칩n</span
                                    ></a
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          vertical-align="middle"
                          class="b fw-1 m"
                          style="
                            font-size: 0;
                            padding: 0;
                            padding-bottom: 8px;
                            word-break: break-word;
                          ">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="
                              border-collapse: separate;
                              width: 100%;
                              line-height: 100%;
                            ">
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  bgcolor="transparent"
                                  role="none"
                                  style="
                                    border: none;
                                    cursor: auto;
                                    mso-padding-alt: 4px 0px 4px 0px;
                                    background: transparent;
                                  "
                                  valign="middle">
                                  <a
                                    href="#insertUrlLink"
                                    style="
                                      display: inline-block;
                                      background: transparent;
                                      color: #ffffff;
                                      font-family: Gilroy, Arial, sans-serif;
                                      font-size: 13px;
                                      font-weight: normal;
                                      line-height: 100%;
                                      margin: 0;
                                      text-decoration: none;
                                      text-transform: none;
                                      padding: 4px 0px 4px 0px;
                                      mso-padding-alt: 0;
                                    "
                                    target="_blank">
                                    <span
                                      style="
                                        font-size: 14px;
                                        font-family: Gilroy, Arial, sans-serif;
                                        font-weight: 700;
                                        color: #000000;
                                        line-height: 114%;
                                        text-decoration: underline;
                                      "
                                      >Sobre nosotros</span
                                    ></a
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          vertical-align="middle"
                          class="b fw-1"
                          style="
                            font-size: 0;
                            padding: 0;
                            padding-bottom: 0;
                            word-break: break-word;
                          ">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="none"
                            style="
                              border-collapse: separate;
                              width: 100%;
                              line-height: 100%;
                            ">
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  bgcolor="transparent"
                                  role="none"
                                  style="
                                    border: none;
                                    cursor: auto;
                                    mso-padding-alt: 4px 0px 4px 0px;
                                    background: transparent;
                                  "
                                  valign="middle">
                                  <a
                                    href="#insertUrlLink"
                                    style="
                                      display: inline-block;
                                      background: transparent;
                                      color: #ffffff;
                                      font-family: Gilroy, Arial, sans-serif;
                                      font-size: 13px;
                                      font-weight: normal;
                                      line-height: 100%;
                                      margin: 0;
                                      text-decoration: none;
                                      text-transform: none;
                                      padding: 4px 0px 4px 0px;
                                      mso-padding-alt: 0;
                                    "
                                    target="_blank">
                                    <span
                                      style="
                                        font-size: 14px;
                                        font-family: Gilroy, Arial, sans-serif;
                                        font-weight: 700;
                                        color: #000000;
                                        line-height: 114%;
                                        text-decoration: underline;
                                      "
                                      >T칠rminos y condiciones</span
                                    ></a
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="r pr-16 pl-16"
        style="
          background: #f3f3f3;
          background-color: #f3f3f3;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #f3f3f3; background-color: #f3f3f3; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 0px 32px 0px 32px;
                  text-align: left;
                ">
                <div
                  class="xc536 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="x"
                          style="font-size: 0; word-break: break-word">
                          <div style="text-align: center">
                            <p style="margin: 0; text-align: center">
                              <span
                                style="
                                  font-size: 13px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 500;
                                  color: #000000;
                                  line-height: 115%;
                                "
                                >Hecho con 游눛 desde Madrid</span
                              >
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
</td></tr></table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</td></tr></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="r-outlook -outlook pr-16-outlook pl-16-outlook -outlook" role="none" style="width:600px;" width="600" bgcolor="#f3f3f3"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
      <div
        class="r pr-16 pl-16"
        style="
          background: #f3f3f3;
          background-color: #f3f3f3;
          margin: 0px auto;
          max-width: 600px;
        ">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="none"
          style="background: #f3f3f3; background-color: #f3f3f3; width: 100%">
          <tbody>
            <tr>
              <td
                style="
                  border: none;
                  direction: ltr;
                  font-size: 0;
                  padding: 16px 16px 16px 16px;
                  text-align: left;
                ">
                <div
                  class="xc568 ogf c"
                  style="
                    font-size: 0;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                  ">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="none"
                    style="border: none; vertical-align: middle"
                    width="100%">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="v s-8"
                          style="font-size: 0; word-break: break-word">
                          <div class="il">
                            <a
                              class="l"
                              href="#insertUrlLink"
                              target="_blank"
                              style="
                                display: inline-block;
                                color: #000000;
                                font-family: Gilroy, Arial, sans-serif;
                                font-size: 13px;
                                font-weight: normal;
                                line-height: 0;
                                text-decoration: none;
                                text-transform: none;
                                padding: 0;
                                padding-top: 0;
                                padding-left: 0;
                                padding-right: 0;
                                padding-bottom: 0;
                              ">
                              <span
                                style="
                                  font-size: 13px;
                                  font-family: Gilroy, Arial, sans-serif;
                                  font-weight: 400;
                                  color: #4d4d4d;
                                  line-height: 115%;
                                  text-decoration: underline;
                                "
                                ></span
                              ></a
                            >
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
